<!-- Start contact-page Area -->
      <section class="contact-page-area section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <%= form_for(record) do |f| %>
                <% if record.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

                    <ul>
                    <% record.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :name %> -->
                  <%= f.text_field :name, class: "common-input mb-20 form-control", placeholder: "Fullname" %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :years %> -->
                  <%= f.date_field :dob, class: "common-input mb-20 form-control", placeholder: "mm/dd/yyyy"%>
                </div>

                <div class="col-lg-6 form-group inline">
                  <!-- <%= f.label :gender %> -->  
                  <div class="row">
                    <div class="col-lg-2 visible-lg-inline">
                      <%= f.label :gender, "Male", :value => "Male"  %>
                      <%= f.radio_button :gender,'Male' %>
                    </div>
                    <div class="col-lg-2">
                      <%= f.label :gender, "Female", :value => "Female" %>
                    <%= f.radio_button :gender, 'Female', :checked => true %>
                    </div>
                  </div>                                   
                    
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :address %> -->
                  <%= f.text_field :address, class: "common-input mb-20 form-control", placeholder: "Address"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :health_care_provider %> -->
                  <%= f.text_field :health_care_provider , class: "common-input mb-20 form-control", placeholder: "Health care provider" %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :department %> -->
                  <%= f.text_field :department, class: "common-input mb-20 form-control", placeholder: "Department"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :complaints %> -->
                  <%= f.text_area :complaints , class: "common-input mb-20 form-control", placeholder: "Complaints" %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :diagnosis %> -->
                  <%= f.text_area :diagnosis, class: "common-input mb-20 form-control", placeholder: "Diagnosis"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :treatment %> -->
                  <%= f.text_area :treatment, class: "common-input mb-20 form-control", placeholder: "Treatment"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :height %> -->
                  <%= f.text_field :height, class: "common-input mb-20 form-control", placeholder: "Height"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :weight %> -->
                  <%= f.text_field :weight, class: "common-input mb-20 form-control", placeholder: "Weight"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :temperature %> -->
                  <%= f.text_field :temperature, class: "common-input mb-20 form-control", placeholder: "Temperature"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :blood_pressure %> -->
                  <%= f.text_field :blood_pressure, class: "common-input mb-20 form-control", placeholder: "Blood Pressure"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :drugs_given %> -->
                  <%= f.text_field :drugs_given , class: "common-input mb-20 form-control", placeholder: "Drugs given" %>
                </div>

                <div class="col-lg-6 form-group">
                 <%= f.label :front_desk_updated %>
                  <%= f.check_box :front_desk_updated, class: "common-input mb-20 form-control" %>
                </div>

                <div class="col-lg-6 form-group">
                  <%= f.label :nurse_updated %>
                  <%= f.check_box :nurse_updated , class: "common-input mb-20 form-control"%>
                </div>

                <div class="col-lg-6 form-group">
                  <%= f.label :doctor_updated %>
                  <%= f.check_box :doctor_updated, class: "common-input mb-20 form-control" %>
                </div>

                <div class="col-lg-6 form-group">
                  <%= f.label :pharmarcist_updated %>
                  <%= f.check_box :pharmarcist_updated, class: "common-input mb-20 form-control"  %>
                </div>

                <div class="actions">
                  <%= f.submit "SUBMIT", :class=>"genric-btn primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>  
      </section>
      <!-- End contact-page Area -->

<!--         <script type="text/javascript">          
            $('.input-group.date').datepicker({format: "dd.mm.yyyy"});
        </script> -->