      <!-- start banner Area -->
      <section class="banner-area relative about-banner" id="home"> 
        <div class="overlay overlay-bg"></div>
        <div class="container">       
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                Administrator        
              </h1> 
              <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Records</a></p>
            </div>  
          </div>
        </div>
      </section>
      <!-- End banner Area -->  
<% count = 0 %>

<% if @records.count > 0 %>
  
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <p id="notice"><%= notice %></p>
        <div class="table100">
          <table>
            <thead>
              <tr>
                <th>S/No</th>
                <th>Date</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Complaints</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Temperature</th>
                <th>Blood pressure</th>
                <th>Drugs given</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @records.each do |record| %>
              <% count+=1 %>
                <tr>
                  <td><%= count %></td>
                  <td><%= record.created_at.to_date %></td>
                  <td><%= record.name %></td>
                  <td><%= record.age %></td>
                  <td><%= record.gender %></td>
                  <td><%= record.department.name %></td>
                  <td><%= record.complaints %></td>
                  <td><%= record.diagnosis %></td>
                  <td><%= record.treatment %></td>
                  <td><%= record.height %></td>
                  <td><%= record.weight %></td>
                  <td><%= record.temperature %></td>
                  <td><%= record.blood_pressure %></td>
                  <td><%= record.drugs_given %></td>
                  <td><%= link_to 'Show', record %></td> 
                  <!-- <td><%= link_to 'Edit', edit_record_path(record) %></td> -->
                  <!-- <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                </tr>
              <% end %>
            </tbody>
          </table>

          </div>
        </br>
        <%= link_to 'New Record', new_record_path %>
        <%= link_to "Download Records", personnels_home_index_path , :class => "genric-btn info radius" %>
      </div>
    </div>
  </div>

<br>
<% else %>
   <!-- Start facilities Area -->
      <section class="facilities-area section-gap">
        <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-7">
                        <div class="title text-center">
                            <h1 class="mb-10">No Records.</h1>
                            <p>No patient record has been inputted for today. Click on <%= link_to 'New Record', new_frontdesk_path %> to start.</p>
                        </div>
                    </div>
                </div>
        </div>  
      </section>
      <!-- End facilities Area -->
<% end %>