<div class="row">
  <div class="col-md-12" id="below-header">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-6 headline">
        <h2><strong>Discover your next favourite vendor</strong></h2>
          <p class="lead">Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          <% if !user_signed_in? %>
            <%= link_to "SIGN UP", new_user_registration_path, :class=>"btn btn-primary" %>
          <% end %>
      </div>
      <div class="col-md-5" id="-image">
        <%= image_tag "product_hunt", :style=>"height: 300px; width: 300px; display: block;"%>
      </div>
    </div>
  </div>
</div>
<div class="row" id="category">
  <div class="col-md-1">
      </div>
  <div class="col-md-2">
    <h6>FEEDS</h6>
    <table class="table table-hover">
      <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= image_tag category.image, :alt => 'merchant_image', :style=>"height: 20px; width: 20px; display: block;" %></td>
          <td><%= link_to category.name, merchants_static_path(category) ,remote: true %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <%=  render :partial => "merchants", locals: { category: @selected} %>
  </div>
  <div class="col-md-3">
  </div>
</div>