<!-- Start contact-page Area -->
      <section class="contact-page-area section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <%= form_for(record) do |f| %>
                <% if record.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

                    <ul>
                    <% record.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :name %> -->
                  <%= f.text_field :name, class: "common-input mb-20 form-control", placeholder: "Fullname" %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :years %> -->
                  <%= f.date_field :dob, class: "common-input mb-20 form-control", placeholder: "mm/dd/yyyy"%>
                </div>

                <div class="col-lg-6 form-group inline">
                  <!-- <%= f.label :gender %> -->  
                  <div class="row">
                    <div class="col-lg-2 visible-lg-inline">
                      <%= f.label :gender, "Male", :value => "Male"  %>
                      <%= f.radio_button :gender, true %>
                    </div>
                    <div class="col-lg-2">
                      <%= f.label :gender, "Female", :value => "Female" %>
                    <%= f.radio_button :gender, false, :checked => true %>
                    </div>
                  </div>                                   
                    
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :address %> -->
                  <%= f.text_field :address, class: "common-input mb-20 form-control", placeholder: "Address"  %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :health_care_provider %> -->
                  <%= f.text_field :health_care_provider , class: "common-input mb-20 form-control", placeholder: "Health care provider" %>
                </div>

                <div class="col-lg-6 form-group">
                  <!-- <%= f.label :department %> -->
                  <%= f.text_field :department, class: "common-input mb-20 form-control", placeholder: "Department"  %>
                </div>                

                <div class="actions">
                  <%= f.submit "SUBMIT", :class=>"genric-btn primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>  
      </section>
      <!-- End contact-page Area -->