<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Years:</strong>
  <%= @record.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @record.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @record.address %>
</p>

<p>
  <strong>Health care provider:</strong>
  <%= @record.health_care_provider %>
</p>

<p>
  <strong>Department:</strong>
  <%= @record.department %>
</p>

<p>
  <strong>Front desk name:</strong>
  <%= @record.front_desk_name %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
