      <!-- start banner Area -->
      <section class="banner-area relative about-banner" id="home"> 
        <div class="overlay overlay-bg"></div>
        <div class="container">       
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                Doctor       
              </h1> 
              <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Records</a></p>
            </div>  
          </div>
        </div>
      </section>
      <!-- End banner Area -->  
<% count = 0 %>

<% if @records.count > 0 %>
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
              <p id="notice"><%= notice %></p>
        <div class="table100">
          <table>
            <thead>
              <tr>
                <th>S/No</th>
                <th>Name</th>
                <th>D.O.B</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Temperature</th>
                <th>Blood pressure</th>              
                <th>Complaints</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
                <th>Doctor name</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @records.each do |record| %>
                <% count+=1 %>
                <tr>
                  <td><%= count %></td>
                  <td><%= record.name %></td>
                  <td><%= record.dob %></td>
                  <td><%= record.gender %></td>
                  <td><%= record.department.name %></td>
                  <td><%= record.height %></td>
                  <td><%= record.weight %></td>
                  <td><%= record.temperature %></td>
                  <td><%= record.blood_pressure %></td>
                  <td><%= record.complaints %></td>
                  <td><%= record.diagnosis %></td>
                  <td><%= record.treatment %></td>               
                  <td><%= record.doctor_name %></td>
                  <td><%= link_to 'Show', record %></td>
                  <td><%= link_to 'Update Patient Record', edit_doctor_path(record) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          </div>
      </div>
    </div>
  </div>

<br>
<% else %>
   <!-- Start facilities Area -->
      <section class="facilities-area section-gap">
        <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-7">
                        <div class="title text-center">
                                <p id="notice"><%= notice %></p>
                            <h1 class="mb-10">No Records.</h1>
                            <p>No patient record has been inputted for today. Patients added at the frontdesk will be visible on page refresh</p>
                        </div>
                    </div>
                </div>
        </div>  
      </section>
      <!-- End facilities Area -->
<% end %>