<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth %>
  </div>

  <div class="field">
    <%= f.label :appointment_date %>
    <%= f.text_field :appointment_date %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="field">
    <%= f.label :disease_id %>
    <%= f.text_field :disease_id %>
  </div>

  <div class="col-lg-6 form-group">
   <%= f.collection_select :disease_id, Disease.order(:name), :id, :name, {},{class: "common-input mb-20 form-control"} %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
