 <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="navbar-edit">
      <div class="container">
        <a href="../" class="navbar-brand">VendorHit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarColor01">
         <%= form_tag(static_index_path, method: :get, :class=>"form-inline my-4 my-lg-0", :id =>"navBarSearchForm") do %>
          <div class="form-group">
            <div class="input-group mb-7">
              <%= text_field_tag :term, "", :class => "form-control home-search", :placeholder=> "Discover your next favourite vendor..." %>
             <%= button_tag(type: 'submit',ame: nil, class: 'btn btn-secondary my-2 my-sm-0') do %>
                <i class="fa fa-search"></i>
            <% end %>
            </div>
          </div>

         <% end %>
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li> -->
          </ul>

          <% if user_signed_in? %>
            <ul class="nav nav-pills">
              <li class="nav-item my-2">
                <%= link_to @review_path, :class=>"nav-icons-margin", data: { toggle: "tooltip"}, title: 'Suggest a merchant.' do %>
                        <i class="fa fa-plus big"></i>
                    <% end %>
              </li>
              <li class="nav-item my-2">
                <%= link_to @review_path, :class=>"nav-icons-margin" do %>
                        <i class="fa fa-bell big"></i>
                    <% end %>
              </li>
              <li class="nav-item dropdown">
                
                <%= image_tag "https://thumbs.dreamstime.com/b/female-african-student-29039669.jpg" , :class=>"img-circular dropdown-toggle" ,data: { toggle: "dropdown"} %>

                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                  <a class="dropdown-item" href="#">MY PROFILE</a>
                  <a class="dropdown-item" href="#">MY COLLECTIONS</a>
                  <a class="dropdown-item" href="#">MY INVITES</a>
                  <div class="dropdown-divider"></div>
                  <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete, :class=>"dropdown-item" %>
                </div>
              </li>
            </ul>
            
          <% else %>
            <%= link_to "LOG IN", new_user_session_path, :class=>"btn btn-outline-secondary" %>
            <%= link_to "SIGN UP", new_user_registration_path, :class=>"btn btn-primary my-2 my-sm-0 button-margin" %>
          <% end %>

        </div>
      </div>
    </div>  

 